

<div class="main-details-card-heading">
  <mat-card>Work Experience</mat-card>
</div>
<div class="experience-primary-container">
  <div class="main-experience-container">


    <div class="main-details-cards">

      <mat-card class="experience-education-container-card">
        <img class="company-pic" style="width: 91px; height: 76px" src="./../../assets/images/phase-one-logo.jpeg">
        <p class="text-title">PhaseOne</p>
      </mat-card>
      <mat-card>
        <p style="font-weight: bold; color: #2d2ff6">
          Web QA Student - February 2018 until present
        </p>
        <p style="color: #2a5e9a">
          My main attributes are to assist in manual & automation testing of the website.<br>
          Working with Kanban as agile methodology<br>
          Writing automation scripts in iMacros for desktop browser testing<br>
          Writing automation scripts in Java for Android mobile browser using Appium, Selenium webdriver & TestNg
        </p>
      </mat-card>


      <mat-card class="experience-education-container-card">
        <img class="company-pic" style="width: 91px; height: 76px" src="./../../assets/images/Virtuagym-logo-orange-background.jpeg">
        <p class="text-title">Virtuagym</p>
      </mat-card>
      <mat-card>
        <p style="font-weight: bold; color: #2d2ff6">
          Web QA Intern - February-August 2017
        </p>
        <p style="color: #2a5e9a">
          My main attributes are to assist in manual & automation testing of the website.<br>
          Working with Scrum as agile methodology<br>
          Writing automation scripts in Java for desktop browser with Selenium webdriver and TestNg<br>
          Contributing to gathering requirements & writing of test cases.
        </p>
      </mat-card>

    </div>

  </div>

</div>
