<div class = "main-details">
  <mat-card style="background-color:#c0f0f6; padding-bottom: 10px"></mat-card>
</div>
<div class="main-details">
  <div class="main-details-card">
    <div class="main-details-card-header">
      <div id="main-img-container"><img id="main-img"src="./../../assets/images/main_img.jpeg"></div>
      <div class="title">Hi! I'm Monica</div>
    </div>
    <div class="main-details-card-content">
      <p style="padding-left: 20px;padding-right: 20px">
        I've created this page because I wanted to present myself in a colourful way while having fun doing it<br>
        Hope you will enjoy ...
      </p>
    </div>
  </div>
</div>
<div class="main-details">
  <div class="contact-details-container">
    <!--contact info extension panel-->
    <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color: #53ACF6">
        <mat-panel-title style="font-weight: bold; color: #FDF5E6">
          Contact data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="contact-data-container">
        <div class="contact-data-labels-container">
          <ul style="list-style-type:none; padding: 0px">
            <li>Phone Number</li>
            <li style="padding-top: 5px">Email</li>
          </ul>
        </div>
        <div class="contact-data-values-container">
          <ul style="list-style-type:none">
            <li>(+45) 52 81 82 82</li>
            <li style="padding-top: 5px">toadermonica@gmail.com</li>
          </ul>
        </div>
      </div>
    </mat-expansion-panel>

    <!--about me extension panel-->
    <mat-expansion-panel>

      <mat-expansion-panel-header style="background-color: #53ACF6">
        <mat-panel-title style="font-weight: bold; color: #FDF5E6">
          About me
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="contact-data-container">

        <div class="contact-data-labels-container">
          <ul style="list-style-type:none; padding-left: 0px">
            <li style="padding-top: 0px">Age</li>
            <li style="padding-top: 5px">Nationality</li>
            <li style="padding-top: 8px">Spare time activities</li>
            <li style="padding-top: 5px"></li>
            <li style="padding-top: 5px"></li>
            <li style="padding-top: 5px"></li>
            <li style="padding-top: 5px"></li>
            <li style="padding-top: 8px">Things I like</li>
          </ul>
        </div>

        <div class="contact-data-values-container">
          <ul style="list-style-type:none;padding-top: 0px">
            <li style="padding-top: 0px">27 (but feeling 24)</li>
            <li style="padding-top: 5px">Romanian</li>
            <li style="padding-top: 8px">Reading & Traveling</li>
            <li style="padding-top: 1px">Exercising & cooking gluten-dairy free</li>
            <li style="padding-top: 8px">Animals (Cats & Dogs alike)</li>
            <li style="padding-top: 1px">Applying theory to practice and seeing results</li>
            <li style="padding-top: 1px">Learning code and making it work</li>
            <li style="padding-top: 1px">Sometimes painting</li>
            <li style="padding-top: 1px">General things like: music, movies, wine & coffee</li>
          </ul>
        </div>

      </div>
    </mat-expansion-panel>

    <!--click to see projects-->
    <mat-expansion-panel>

      <mat-expansion-panel-header style="background-color: #53ACF6">
        <mat-panel-title style="font-weight: bold; color: #FDF5E6">
          Click for projects
        </mat-panel-title>
      </mat-expansion-panel-header>
      Laravel Project
      Java Project
      Angular + Nodejs + MongoDb + MySql Project
      WebSecurity Project

    </mat-expansion-panel>
  </div>
</div>

<div id="final-container" class="main-details">

  <!--experience container-->
  <div class="experience-education-projects-container">
    <div class="top-card-title">
      <p>Experience</p>
    </div>
    <mat-card class="experience-education-container-card">

      <div class="card-title-main">
        <img class="company-pic" style="width: 91px; height: 76px" src="./../../assets/images/Virtuagym-logo-orange-background.jpeg">
        <p class="text-title">PhaseOne</p>
      </div>

      <p style="font-weight: bold; color: #2d2ff6">
        Web QA Student - February 2018 until present
      </p>
      <p style="color: #2a5e9a">
        My main attributes are to assist in manual & automation testing of the website.<br>
        Working with Kanban as agile methodology<br>
        Writing automation scripts in iMacros for desktop browser testing<br>
        Writing automation scripts in Java for Android mobile browser using Appium, Selenium webdriver & TestNg
      </p>
    </mat-card>

    <mat-card class="experience-education-container-card">
      <div class="card-title-main">
        <img class="company-pic" style="width: 91px; height: 76px" src="./../../assets/images/Virtuagym-logo-orange-background.jpeg">
        <p class="text-title">Virtuagym</p>
      </div>

      <p style="font-weight: bold; color: #2d2ff6">
        Web QA Intern - February-August 2017
      </p>
      <p style="color: #2a5e9a">
        My main attributes are to assist in manual & automation testing of the website.<br>
        Working with Scrum as agile methodology<br>
        Writing automation scripts in Java for desktop browser with Selenium webdriver and TestNg<br>
        Contributing to gathering requirements & writing of test cases.
      </p>
    </mat-card>
  </div>

  <!--education container-->
  <div class="experience-education-projects-container">
    <div class="top-card-title">
      <p>Education</p>
    </div>
    <mat-card class="experience-education-container-card">
      <div class="card-title-main">
        <img class="company-pic" style="width: 91px; height: 76px" src="./../../assets/images/Virtuagym-logo-orange-background.jpeg">
        <p class="text-title">Kea - Web Development Bachelor</p>
      </div>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-weight: bold; color: #2d2ff6">
              Courses August 2015-September 2016:
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Web Security
            </mat-panel-title>
          </mat-expansion-panel-header>
          • Understand basic web application security concepts
          • Understand how hackers exploit web applications
          • Understand the principle of layered security
          • Spot potential security flaws in web applications
          • Use best practice on some web security challenges
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              NodeJs + Express framework
            </mat-panel-title>
          </mat-expansion-panel-header>
          Goal: Code a full stack web based application, set-up a NODEJS server in the cloud and decide the best possible use of a database.
          Course content: NodeJS, Flexbox, Grid, CSS, Database, AJAX, Websockets, JSON objects, Setting up a server locally, in Amazon Web Servers or Azure. Use of the terminal for SSH and FTP. Also, the setup and use of HTTPS
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Databases - MongoDb & MySql
            </mat-panel-title>
          </mat-expansion-panel-header>
          ● Connecting to MySQL through PHP
          ● Basic SQL commands and aggregate functions
          ● Database design
          ● Normalization
          ● Views and indexes
          ● Stored procedures, triggers
          ● Transactions
          ● MongoDB
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Interface Design
            </mat-panel-title>
          </mat-expansion-panel-header>
          Upon completion of the course, students should have acquired knowledge about:

          ●common interface design development methods
          ●human-computer interaction

        </mat-expansion-panel>

      </mat-expansion-panel>

      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-weight: bold; color: #2d2ff6">
              Courses Since September 2017:
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        • Java as OOP language
        • Java Fx framework
        • Design patterns
        • Abstract data types & complexity
        • System Development & Design:
          1. model and design IT systems
          2. use an appropriate software architecture
          3. document and communicate product and process, and ensure traceability
          4. quality assure product and process
          5. use appropriate design patterns
      </mat-expansion-panel>




      <!-- <p style="color: #2a5e9a">
         Web security
         • Understand basic web application security concepts
         • Understand how hackers exploit web applications
         • Understand the principle of layered security
         • Spot potential security flaws in web applications
         • Use best practice on some web security challenges



         Programming in C#
- System Development
- Object Oriented Design
- Client Server Application
- Computer Networking
- Operating Systems
- Oracle SQL Database
- Web Development with Laravel 5.2
- Cryptography

       </p>-->
    </mat-card>

    <mat-card class="experience-education-container-card">
      <div class="card-title-main">
        <img class="company-pic" style="width: 91px; height: 76px" src="./../../assets/images/Virtuagym-logo-orange-background.jpeg">
        <p class="text-title">Fontys Hogeschool Eindhoven</p>
      </div>
      <p style="font-weight: bold; color: #2d2ff6">
        Erasmus student
      </p>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-weight: bold; color: #2d2ff6">
              Courses August 2016-January 2017:
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>

          • Java as OOP language
          • Java Fx framework
          • Design patterns
          • Abstract data types & complexity
          • System Development & Design:
          1. model and design IT systems
          2. use an appropriate software architecture
          3. document and communicate product and process, and ensure traceability
          4. quality assure product and process
          5. use appropriate design patterns
          <mat-expansion-panel>
          </mat-expansion-panel>

        </mat-expansion-panel>
    </mat-card>

  </div>




  <!-- <div class="experience-education-projects-container">
     <div class="wrapper-container">
       <mat-card routerLink="/experience" class="eep-container">Experience</mat-card>
       <mat-card routerLink="/education" class="eep-container">Education</mat-card>
       <mat-card routerLink="/projects" class="eep-container">Projects</mat-card>
     </div>
   </div>-->
</div>





